Welcome to my site!

<form id="my_form" action="/hello" method="GET">
  <input name="iluvu" type="text">
  <input id="my_special_button" type="submit">
</form>

<a href="/hello">
  <table>
    <img id="my_img" src="http://impishidea.com/images/ImpishIdea.png">
  </table>
</a>